<h1>New comment</h1>
<%= turbo_frame_tag "new_comment", target: "_top" do %>
  <%= render "form", post: @post, comment: @comment %>
  
<% end %>
<br>

<div>
  <%= link_to "Back to comments", post_comments_path %>
</div>
