<div class="grid-rows" >
  <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">New Post</h2>
  <%= render "form", post: @post %>
  <div>
    <%= link_to "Back to posts", posts_path, class: "p-0 m-1 text-white border-solid border-4 rounded-lg border-blue-400 bg-blue-400 hover:underline active:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 mb-8" %>
  </div>
</div>
