<div class="grid-rows" style="width: 1000px">
  
  <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">New Post</h2>


  <%= render "form", post: @post %>

  <br>

  <div>
    <%= link_to "Back to posts", posts_path, class: "text-blue-600	 hover:underline " %>
  </div>

</div>